<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		<title>Template</title>
	</head>
	<body>
		<header>
			<!--logo-->
			<a href="home.html"><img src='../imgs/logo.png' height='100 px' width='100 px' class="logo" alt="pets&friends logo"></a>

			<!--nav menu-->
			<div>
				<ul id="navbar">
					<li><a href="home.html" class="active">Home</a></li>
					<li><a href="products.html">Productos</a></li>
					<li><a href="wishlist.html">Wishlist</a></li>
					<li><a href="contact.html">Contacto</a></li>
					<li><a href="cart.html">carrito</a></li>
				</ul>
			</div>
		</header>

		<footer>
		</footer>
	</body>
</html>

